$charcolor: #f1f1f1;
body {
    background: #14191E;

    #terminal {
        color: $charcolor;
    }

    #user {
        color: #9d6c6d;
    }

    #dir {
        color: #6c859d;
    }

    .Typewriter__cursor {
        color: $charcolor;
    }
}

a {
    color: $charcolor;
}
